body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: max(12px, 0.75vw);
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  margin-top: 2px;
  padding-top: 0.3vh;
  padding-bottom: 0.3vh;
}

input[type='file'] {
  color: transparent;
  max-width: 100px;
  font-size: max(13px, 1vw);
}

.App {
  margin: 0;
  padding: 0;
}

.Main {
  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  overflow: auto;
}

.SemSelector {
  display: flex;
  flex-direction: column;
}

.Sem, .SemSelected, .SetShownDaysBoxOn, .SetShownDaysBoxOff {
  cursor: pointer;
  padding: 3px;
  background: lightblue;
  border: 1px solid black;
  font-size: max(10px, min(1em, 1vw));
}

.SetShownDaysBoxOn, .SetShownDaysBoxOff {
  font-family: monospace, monospace;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.SemSelected, .SetShownDaysBoxOn {
  background: lightgreen;
}

.CourseSelector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  float: right;
}

.SelectedCourses {
  display: flex;
  flex-direction: column;
  float: left;
}

.Options {
  display: flex;
  flex-direction: column;
}

.SetShownDays {
  display: flex;
}

.SelectedCoursesList, .SearchedCoursesList {
  background-color: lightblue;
  min-width: 8vw;
  overflow: auto;
}

.SelectedCoursesList {
  min-height: 40vh;
  max-height: 50vh;
}

.SearchedCoursesList {
  min-height: 50vh;
  max-height: 68vh;
}

.SearchBar {
  max-width: 8vw;
}

.Timetable {
  display: flex;
}

.ShowingTopResults {
  font-size: min(1em, 0.9vw);
}

.Day {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.TimeSlotEmpty, .TimeSlotFilled, .TimeSlotConflicted, .TimeSlotHover, .TimeSlotHoverConflicted {
  border: 1px solid black;
  margin: 2px;
  width: max(75px, 6vw);
  height: max(45px, 5vh);
  text-align: center;
  overflow: hidden;
}

.TimeSlotEmpty {
  font-size: max(10px, 1vw);
}

.TimeSlotFilled {
  background-color: lightgreen;
}

.TimeSlotHover {
  background-color: lightblue;
}

.TimeSlotHoverConflicted {
  background-color: orange;
}

.TimeSlotConflicted {
  background-color: red;
}

.TimeSlotCourse {
  display: flex;
  flex-direction: column;
  font-size: max(10px, 0.75vw);
}

.BottomBar {
  background-color: lightgrey;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2px;
}


@media screen and (max-width: 1400px) {
  .Main {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 1400px) {
  .ShowingTopResults {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .BottomBar {
    display: none;
  }
}
@media screen and (max-height: 700px) {
  .BottomBar {
    display: none;
  }
}