body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: max(12px, 0.75vw);
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  margin: 0;
  padding: 0;
}

.Main {
  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  overflow: auto;
}

.SemSelector {
  display: flex;
  flex-direction: column;
}

.Sem, .SemSelected {
  cursor: pointer;
  padding: 3px;
  background: lightblue;
  border: 1px solid black;
}

.SemSelected {
  background: lightgreen;
}

.CourseSelector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  float: right;
}

.SelectedCourses {
  display: flex;
  flex-direction: column;
  float: left;
}

.Courses {
  background-color: lightblue;
  min-width: 8vw;
  min-height: 60vh;
  max-height: 60vh;
  overflow: auto;
}

.Timetable {
  display: flex;
}

.Day {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.TimeSlotEmpty, .TimeSlotFilled, .TimeSlotConflicted, .TimeSlotHover, .TimeSlotHoverConflicted {
  border: 1px solid black;
  margin: 2px;
  width: max(75px, 6vw);
  height: max(50px, 3vh);
  text-align: center;
}

.TimeSlotEmpty {
  font-size: max(10px, 1vw);
}

.TimeSlotFilled {
  background-color: lightgreen;
}

.TimeSlotHover {
  background-color: lightblue;
}

.TimeSlotHoverConflicted {
  background-color: orange;
}

.TimeSlotConflicted {
  background-color: red;
}

.TimeSlotCourse {
  display: flex;
  flex-direction: column;
  font-size: max(10px, 0.75vw);
}

.BottomBar {
  background-color: lightgrey;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2px;
}

@media screen and (max-width: 1300px) {
  .Main {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 300px) {
  .BottomBar {
    position: relative;
  }
}