body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

body * {
  font-size: max(12px, 0.8vw);
}

:root {
  --timetable-text-color: rgb(98, 112, 126);
  --timetable-border-color: rgb(170, 170, 170);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  margin-top: 2px;
  padding-top: 0.3vh;
  padding-bottom: 0.3vh;
}

input[type='file'] {
  color: transparent;
  max-width: 100px;
}

.App {
  margin: 0;
  padding: 0;
}

.Main {
  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  justify-content: center;
  overflow: auto;
}

.SemSelector {
  display: flex;
  flex-direction: row;
}

.Sem, .SemSelected, .SetShownDaysBoxOn, .SetShownDaysBoxOff {
  cursor: pointer;
  padding: 5px;
  background: lightblue;
  border: 1px solid black;
  max-width: 20vw;
  margin-top: 2px;
  margin-bottom: 2px;
}

.Sem, .SemSelected {
  font-size: 12px;
}

.SetShownDaysBoxOn, .SetShownDaysBoxOff {
  font-family: monospace, monospace;
  padding-left: 0.3em;
  padding-right: 0.3em;
  font-size: min(14px, 4vw);
}

.SemSelected, .SetShownDaysBoxOn {
  background: lightgreen;
}

.CourseSelector {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-left: 1rem;
  width: 20%;
}

.SelectedCourses {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  width: 22%;
}

.Options {
  display: flex;
  flex-direction: column;
}

.Options Input[type="number"] {
  max-width: 3rem;
}

.SetShownDays {
  display: flex;
}

.SelectedCoursesList, .SearchedCoursesList {
  border: 1px solid var(--timetable-border-color);
  border-radius: 5px;
  min-width: 8vw;
  overflow: auto;
}

.Course {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  background-color: rgb(245, 245, 245);
}

.SelectedCoursesList > .Course:nth-child(odd), .SearchedCoursesList > .Course:nth-child(odd) {
  background-color: rgb(225, 225, 225);
}

.SelectedCoursesList {
  min-height: 40vh;
  max-height: 50vh;
}

.SearchedCoursesList {
  min-height: 50vh;
  max-height: 68vh;
}

.Timetable {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 80vh;
}

.ShowingTopResults {
  font-size: min(1em, 0.9vw);
}

.Day {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

.DayTitle {
  text-align: left;
  width: 90%;
  color: var(--timetable-text-color);
}

.TimeSlotEmpty, .TimeSlotFilled, .TimeSlotConflicted, .TimeSlotHover, .TimeSlotHoverConflicted, .TimeSlotTime {
  border-top: 1px solid var(--timetable-border-color);
  border-right: 1px solid var(--timetable-border-color);
  flex: 1;
  width: 100%;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
}

.TimeSlotEmpty {
  font-size: max(1rem, 1vw);;
}

.TimeSlotTime {
  font-size: max(1rem, 0.4vw);
  padding-right: 0.3rem;
  text-align: right;
  color: var(--timetable-text-color);
  border-left: 1px solid var(--timetable-border-color);
}

.Day:nth-last-child(n) {
  border-bottom: 1.5px solid var(--timetable-border-color);
}

.TimeSlotFilled {
  background-color: lightgreen;
}

.TimeSlotHover {
  background-color: lightblue;
}

.TimeSlotHoverConflicted {
  background-color: orange;
}

.TimeSlotConflicted {
  background-color: rgb(255, 60, 60);
}

.TimeSlotCourse {
  display: flex;
  flex-direction: column;
  padding-top: 0.15rem;
}

.BottomBar {
  background-color: lightgrey;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2px;
}


@media screen and (max-width: 1400px) {
  .Main {
    width: 99%;
    margin: auto;
  }
  .ShowingTopResults {
    display: none;
  }
  .SetShownDaysBoxOff, .SetShownDaysBoxOn {
    font-size: min(12px, 2.5vw);
  }
}
@media screen and (max-width: 950px) {
  body * {
    font-size: max(10px, 1.2vw);
  }
  .Main {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "Timetable Timetable"
      "SelectedCourses CourseSelector";
    justify-items: center;
  }
  .Timetable {
    grid-area: Timetable;
    max-height: 65vh;
  }
  .SelectedCourses {
    margin: 0;
    grid-area: SelectedCourses;
    width: 95%;
  }
  .CourseSelector {
    margin: 0;
    grid-area: CourseSelector;
    align-items: stretch;
    width: 95%;
  }
  .CourseSelector > * {
    flex: 1;
  }
  .SearchedCoursesList {
    min-height: 0;
    height: 27vh;
    max-height: 27vh;
  }
  .CourseCheckbox {
    transform: scale(0.8);
  }
  .TimeSlotCourse {
    font-size: max(8px, 1.2vw);
    overflow-wrap: break-word;
  }
  .TimeSlotTime {
    word-wrap: break-word;
    font-size: max(8px, 1.5vw);
  }
  .BottomBar {
    display: none;
  }
  .Course > Span {
    padding: 1vh 6vw 1vh 1vw;
  }
  .Sem, .SemSelected {
    font-size: min(9px, 2.2vw);
    width: 50%;
    padding: 5px;
  }
  .SetShownDays {
    flex-wrap: wrap;
  }
  .SelectedCoursesList {
    min-height: 30.5vh;
  }
}
@media screen and (max-height: 700px) {
  .BottomBar {
    display: none;
  }
}